# Виртуальное окружение
venv/

# Переменные окружения
.env

# Кэш и логи
cache.json
bot.log
stdout.log
stderr.log

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE / редакторы
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini